
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*

# Editor Specific Settings
.idea/*
.vscode/*

# Bytecode to be ignored
__pycache__/*
*.pyc
